.quizActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-md);
  margin-top: var(--space-lg);
}

.quizActionsForward {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

@media (max-width: 40rem) {
  .quizActions {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }

  .quizActionsForward {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.75rem;
  }
}
